extends ./layout.jade


block content
    h1 List of cities and cityTips!

    each country in countries
       h3=country.name
            each city in country.cities
                h4= city.name
                  each tip in city.cityTips
                    tip #{tip.title}
                    h2= tip.title
                    tip #{tip.body}
                    h2= tip.body
                    
